      <p><b>Purdy Electronics 
        
          Admin 
          
        </b></p>
      <p>The following resources are for authorized <b>Purdy Electronics Staff 
        Only</b>.</p>
      <p><b>
        
          Admin Tools:
          
        </b></p>
      <ul>
        
          <li> <a href="DISTI/pdfs.cfm">Current PDF's for Download </a> </li>
        
        <li><a href="/admin/order_index?sort=OrderID&order=desc">Track 
          Orders</a></li>
        
          <li><a>User Management(TBD)</a></li>
          <li><a href="/admin/product_index">Product Management</a></li>
          <li><a>Distributor Management(TBD)</a></li>
        
        <li><a href="http://www.google.com/analytics" target="_blank">Google Analytics</a></li>
        <li><a>Change Password(TBD)</a></li>
        <li><a href="/admin/logout">Logout</a></li>
      </ul>
