<div id="main_content">
     <div class="content">

			<p><%= image_tag "PageTitles/whatsnew_whatsnew.gif" %></p>

			<br>
								Check out our recently introduced products. By clicking on the respective image, you'll be able to obtain a product photo and description, download a PDF copy of the spec sheet and/or see the press release that goes along with the new part.
								<p>You'll also be able to see the featured product or service that we are offering for this given time!</p>
								<p>We've got a new look and feel! We are very excited about the look and functionality of our website. We'd like to hear your comments, particulary on obtaining pdfs and ordering samples. Please give us some <a href="/about/feedback.cfm">feedback</a>.</p>
								<hr>
								<h2>RoHS COMPLIANCE</h2>
								<p>We are in the process of modifying our products so we are in compliance with the European Union&rsquo;s mandate for Reduction of Hazardous Substances (RoHS compliance) due to take affect in July, 2006.&nbsp; We anticipate that we will be RoHS compliant on our LCD, LED, fan, switch and fiber optic products before the end of 2005.&nbsp; Please <a href="/about/contact.cfm">call us</a> or <a href="mailto:customerservice@purdyelectronics.com">email us</a> to get the RoHS status on the particular product that you are buying or considering buying.</p>
								<h2>LCD WITH SINGLE BOARD COMPUTER</h2>
								<p>We have developed a Windows / Linux compatible LCD based single board embedded computer solution designed for both portable and console commercial and industrial instruments.&nbsp; The initial implementation utilizes a 6.4&rdquo; color TFT LCD VGA display although both larger and smaller LCD display systems are available.&nbsp; Features include 300 MHz CPU, flash memory, Ethernet and USB serial ports, audio, CCFL inverter, and fan-less operation.&nbsp; Options include Windows or Linux OS, touch screen, memory upgrades, and hard drive.&nbsp; This is a powerful, fully-capable computer: it is not a terminal.&nbsp; Please <a href="/about/contact.cfm">call us</a> or <a href="mailto:customerservice@purdyelectronics.com">email us</a> to get a data sheet and to get answers to any questions that you might have.<br>
								</p>
								<hr>
								<h3>Poly-Silicon Color TFT Displays</h3>
								<ul>
									<li><a href="/pdf/ANDpSi020TD-LED.pdf">ANDpSi020TD-LED</a> Datasheet - Order a <a href="http://www.purdyelectronics.com/products/displays/tftmodul.cfm">sample</a> from our website today or <a href="/about/contact.cfm">call us</a> or <a href="mailto:customerservice@purdyelectronics.com">email us</a>.</li>
									
									<li><a href="/pdf/ANDpSi025TD-LED.pdf">ANDpSi025TD-LED</a> Datasheet - Order a <a href="http://www.purdyelectronics.com/products/displays/tftmodul.cfm">sample</a> from our website today or <a href="/about/contact.cfm">call us</a> or <a href="mailto:customerservice@purdyelectronics.com">email us</a>.</li>
									
									<li><a href="/pdf/AND-TFT-25XS-LED.pdf">AND-TFT-25XS-LED</a> Datasheet - Order a <a href="http://www.purdyelectronics.com/products/displays/tftmodul.cfm">sample</a> from our website today or <a href="/about/contact.cfm">call us</a> or <a href="mailto:customerservice@purdyelectronics.com">email us</a>.</li>
									<li><a href="/pdf/AND-TFT-35XS-LED.pdf">AND-TFT-35XS-LED</a> Datasheet - Order a <a href="http://www.purdyelectronics.com/products/displays/tftmodul.cfm">sample</a> from our website today or <a href="/about/contact.cfm">call us</a> or <a href="mailto:customerservice@purdyelectronics.com">email us</a>.</li>

									<li><a href="/pdf/AND-TFT-5TS.pdf">AND-TFT-5TS</a> Datasheet - Order a <a href="http://www.purdyelectronics.com/products/displays/tftmodul.cfm">sample</a> from our website today or <a href="/about/contact.cfm">call us</a> or <a href="mailto:customerservice@purdyelectronics.com">email us</a></li>
									<li><a href="/pdf/AND-TFT-5TS-DHB.pdf">AND-TFT-5TS-DHB</a> Datasheet - Order a <a href="http://www.purdyelectronics.com/products/displays/tftmodul.cfm">sample</a> from our website today or <a href="/about/contact.cfm">call us</a> or <a href="mailto:customerservice@purdyelectronics.com">email us</a>.</li>
									<li><a href="/pdf/AND-TFT-5VX-4HB.pdf">AND-TFT-5VX-4HB</a> Datasheet - Order a <a href="http://www.purdyelectronics.com/products/displays/tftmodul.cfm">sample</a> from our website today or <a href="/about/contact.cfm">call us</a> or <a href="mailto:customerservice@purdyelectronics.com">email us</a>.</li>
									<li><a href="/pdf/PC-TFT-20TD.pdf">PC-TFT-20TD</a> Datasheet - Order a <a href="http://www.purdyelectronics.com/products/displays/tftmodul.cfm">sample</a> from our website today or <a href="/about/contact.cfm">call us</a> or <a href="mailto:customerservice@purdyelectronics.com">email us</a>.</li>
									<li><a href="/pdf/PC-TFT-2535PA-LED.pdf">PC-TFT-2535PA-LED</a> Datasheet - Order a <a href="http://www.purdyelectronics.com/products/displays/tftmodul.cfm">sample</a> from our website today or <a href="/about/contact.cfm">call us</a> or <a href="mailto:customerservice@purdyelectronics.com">email us</a>.</li>
									<li><a href="/pdf/PC-TFT-25XS.pdf">PC-TFT-25XS</a> Datasheet - Order a <a href="http://www.purdyelectronics.com/products/displays/tftmodul.cfm">sample</a> from our website today or <a href="/about/contact.cfm">call us</a> or <a href="mailto:customerservice@purdyelectronics.com">email us</a>.</li>
									<li><a href="/pdf/PC-TFT-35XS-LED.pdf">PC-TFT-35XS-LED</a> Datasheet - Order a <a href="http://www.purdyelectronics.com/products/displays/tftmodul.cfm">sample</a> from our website today or <a href="/about/contact.cfm">call us</a> or <a href="mailto:customerservice@purdyelectronics.com">email us</a>.</li>
									<li><a href="/pdf/PC-TFT-5VX.pdf">AND-TFT-5VX</a> Datasheet - Order a <a href="http://www.purdyelectronics.com/products/displays/tftmodul.cfm">sample</a> from our website today or <a href="/about/contact.cfm">call us</a> or <a href="mailto:customerservice@purdyelectronics.com">email us</a>.</li>
									
								</ul>
								<h3>Amorphous-Silicon Color TFT Displays</h3>
								<ul>
									<li><a href="/pdf/ANDpSi089C362S.PDF">ANDpSi089C362S</a> Datasheet - Order a <a href="http://www.purdyelectronics.com/products/displays/tftmodul.cfm">sample</a> from our website today or <a href="/about/contact.cfm">call us</a> or <a href="mailto:customerservice@purdyelectronics.com">email us</a>.</li>
									<li><a href="/pdf/ANDpSi089C362S-4HB.PDF">ANDpSi089C362S-4HB</a> Datasheet - Order a <a href="http://www.purdyelectronics.com/products/displays/tftmodul.cfm">sample</a> from our website today or <a href="/about/contact.cfm">call us</a> or <a href="mailto:customerservice@purdyelectronics.com">email us</a>.</li>
										
									
								</ul>
								<li>
									<h3>Color TFT LCD Monitors<</h3>

									<ul>
										<li><a href="http://www.purdyelectronics.com/pdf/AND-TFT-35VX-UHB-LED.pdf">AND-TFT-35VX-UHB-LED</a>  NEW Datasheet - Order a <a href="http://www.purdyelectronics.com/products/displays/tftmonit.cfm">sample</a> from our website today or <a href="/about/contact.cfm">call us</a> or <a href="mailto:customerservice@purdyelectronics.com">email us</a>.</li>
										
										
										<li><a href="/pdf/AND050VL-LED.PDF">AND050VL-LED</a> Datasheet - Order a <a href="http://www.purdyelectronics.com/products/displays/tftmonit.cfm">sample</a> from our website today or <a href="/about/contact.cfm">call us</a> or <a href="mailto:customerservice@purdyelectronics.com">email us</a>.</li>
										
									</ul>
									<h3>Monochrome Intelligent Graphic LCD Display Modules</h3>
									<ul>
										<li><a href="/pdf/AND1743FST-T.pdf">AND1742MST2</a> Datasheet - The AND1742MST2 display is a compact, full dot matrix, with &ldquo;white page&rdquo; appearance, LCD modules that have an onboard LCD controller (SED1330) and display memory (RAM). The AND1742MST can display TEXT information, numerals, letters and symbols, as well as GRAPHIC patterns. These devices are suitable for medical and measurement equipment, point-of-sale terminals, portable equipment, and marine instrumentation. Order a <a href="http://www.purdyelectronics.com/products/displays/intgraph.cfm">sample</a> from our website today or <a href="/about/contact.cfm">call us</a> or <a href="mailto:customerservice@purdyelectronics.com">email us</a>.</li>
										<li><a href="/pdf/AND1743FST-T.pdf">AND3222MST2</a> Datasheet - The AND3222MST2 display is a compact, full dot matrix, with &ldquo;white page&rdquo; appearance, LCD modules that have an on-board LCD controller (SED1330) and display memory (RAM). The AND3222MST2 can display TEXT information, numerals, letters and symbols, as well as GRAPHIC patterns. These devices are suitable for medical and measurement equipment, point-of-sale terminals, protable equipment, and marine instrumentation. Order a <a href="http://www.purdyelectronics.com/products/displays/intgraph.cfm">sample</a> from our website today or <a href="/about/contact.cfm">call us</a> or <a href="mailto:customerservice@purdyelectronics.com">email us</a>.</li>
									</ul>
									<li>
										<h3>Monochrome Intelligent Alphanumeric Display Modules</h3>
										<ul>
											<li><a href="/pdf/AND081GST.pdf">AND081GST</a> Datasheet -  Order a <a href="http://www.purdyelectronics.com/products/displays/intchar.cfm">sample</a> from our website today or <a href="/about/contact.cfm">call us</a> or <a href="mailto:customerservice@purdyelectronics.com">email us</a>.</li>
											<li><a href="/pdf/AND081GST-LED.pdf">AND081GST-LED</a> Datasheet -  Order a <a href="http://www.purdyelectronics.com/products/displays/intchar.cfm">sample</a> from our website today or <a href="/about/contact.cfm">call us</a> or <a href="mailto:customerservice@purdyelectronics.com">email us</a>.</li>
											<li><a href="/pdf/AND082GST.pdf">AND082GST</a> Datasheet -  Order a <a href="http://www.purdyelectronics.com/products/displays/intchar.cfm">sample</a> from our website today or <a href="/about/contact.cfm">call us</a> or <a href="mailto:customerservice@purdyelectronics.com">email us</a>.</li>
											<li><a href="/pdf/AND082GST-LED.pdf">AND082GST-LED</a> Datasheet -  Order a <a href="http://www.purdyelectronics.com/products/displays/intchar.cfm">sample</a> from our website today or <a href="/about/contact.cfm">call us</a> or <a href="mailto:customerservice@purdyelectronics.com">email us</a>.
										</ul>
									<h3>Plug and Play Prototyping Kits</h3>
									<ul>
									<li><a href="/pdf/AND-TFT-5VX-KIT.pdf">AND-TFT-5VX-KIT</a> Datasheet - Order a <a href="http://www.purdyelectronics.com/products/displays/prototyping.cfm">sample</a> from our website today or <a href="/about/contact.cfm">call us</a> or <a href="mailto:customerservice@purdyelectronics.com">email us</a>.</li>
										<li><a href="/pdf/AND-TFT-5VS-4HB-KIT.pdf">AND-TFT-5VS-4HB-KIT</a> Datasheet - Order a <a href="http://www.purdyelectronics.com/products/displays/prototyping.cfm">sample</a> from our website today or <a href="/about/contact.cfm">call us</a> or <a href="mailto:customerservice@purdyelectronics.com">email us</a>.</li>
										
									</ul>
								<h3>Red LEDs from AND Optoelectronics in T-1 3/4 (5mm) Package</h3>
									<ul>
									<li><a href="/pdf/AND156SYP.pdf">AND157HSP</a> Datasheet - Order a <a href="http://www.purdyelectronics.com/products/opto/ledred.cfm">sample</a> from our website today or <a href="/about/contact.cfm">call us</a> or <a href="mailto:customerservice@purdyelectronics.com">email us</a>.</li>
										
										
										
								</ul>
									<h3>White LEDs from AND Optoelectronics in T-1 3/4 (5mm) Package</h3>
									
								<ul>
									<li><a href="/pdf/AND190HW.pdf">AND190HW</a> Datasheet - Order a <a href="../products/opto/ledbluewhite.cfm">sample</a> from our website today or <a href="/about/contact.cfm">call us</a> or <a href="mailto:customerservice@purdyelectronics.com">email us</a>.</li>
										
									<li><a href="/pdf/AND420HWA.pdf">AND420HWA</a> Datasheet - Order a <a href="../products/opto/ledbluewhite.cfm">sample</a> from our website today or <a href="/about/contact.cfm">call us</a> or <a href="mailto:customerservice@purdyelectronics.com">email us</a>.</li>

									<li><a href="/pdf/AND420HWB.pdf">AND420HWB</a> Datasheet - Order a <a href="../products/opto/ledbluewhite.cfm">sample</a> from our website today or <a href="/about/contact.cfm">call us</a> or <a href="mailto:customerservice@purdyelectronics.com">email us</a>.</li>
	
										<li><a href="/pdf/AND520HW.pdf">AND520HW</a> Datasheet - Order a <a href="../products/opto/ledbluewhite.cfm">sample</a> from our website today or <a href="/about/contact.cfm">call us</a> or <a href="mailto:customerservice@purdyelectronics.com">email us</a>.</li>
										<li><a href="/pdf/AND720HW.pdf">AND720HW</a> Datasheet - Order a <a href="../products/opto/ledbluewhite.cfm">sample</a> from our website today or <a href="/about/contact.cfm">call us</a> or <a href="mailto:customerservice@purdyelectronics.com">email us</a>.</li>
										
										
									</ul>

		</div>
	</div>
