<div id="main_content">
     <div class="content">
     	<p><%= image_tag "PageTitles/vas_vas.gif" %></p>
     	
     	We excel at working with our customers in designing and supplying 
            custom solutions to meet the unique needs of your products and your 
            market requirements. Our custom solutions are designed and implemented 
            with a high level of craftsmanship by some of the most talented engineers 
            and technicians in the Northern California&rsquo;s Silicon Valley. 
            Our capability to add value ranges from modest services like applying 
            a connector to a cooling fan to sophisticated processes such as providing 
            a custom flat panel LCD display sub-assembly that is fully assembled, 
            tested, and ready to be integrated into the final assembly. 
            <p> Please click below on the product category of interest to get 
              additional information on our value added services:</p>
            <ul>
              <li> <a href="/products/displays/vas.cfm">AND Displays</a> (liquid 
                crystal displays &ndash; LCDs) </li>
              <li> <a href="/products/interfan/vas.cfm">INTERFAN</a> (cooling 
                fans, blowers, heat sink fans &amp; accessories) </li>
              <li> <a href="/products/opto/vas.cfm">AND Optoelectronics</a> (light 
                emitting diodes &ndash; LEDs) </li>
              <li> <a href="/products/fiber/vas.cfm">INTEROPTICS</a> (fiber optic 
                components) </li>
              <li> <a href="/products/switches/vas.cfm">INTERSWITCH</a> (thumbwheel 
                and rotary DIP switches &amp; keypads)</li>
            </ul>
            <p> If you have design needs not found within these pages, please 
              <a href="mailto:customerservice@purdyelectronics.com">contact us</a> 
              to see how we can help you.</p>

     </div>
</div>     