<div class="left_links">
  <ul>
    <li><a href="/about_us">About the Company</a></li>
    <li><a href="/wnew/index">What's new</a></li>
    <li><a href="/contact_us">Contact Us</a></li>
    <li><a href="/distributors" >Distributors</a></li>
    <li><a href="/feedback">Feedback</a></li>
    <li><a href="/privacy">Privacy</a></li>
    <li><a href="/warranty">Warranty</a></li>
  </ul>
</div>