            
        <div id="main_content">
            <%= render partial: "about_links" %> 

            <div class="content">
               <p><%= image_tag "PageTitles/about_contact.gif" %></p>
            <img src="/images/um.gif" width="1" height="8"><br> <strong> FACTORY 
            CONTACTS</strong> -- For product information or customer and technical 
            support, you can contact us directly by phone, email, fax, or mail: 
            <p><strong> PHONE</strong> <br>
              408 / 523-8225 Product Information <br>
              408 / 523-8283 Customer Service<br>
              408 / 523-8218 Technical Support</p>
            <p><strong> EMAIL<br>
              </strong><a href="mailto:sales@purdyelectronics.com">sales@purdyelectronics.com</a> 
              Product Information<br>
              <a href="mailto:customerservice@purdyelectronics.com">customerservice@purdyelectronics.com</a> 
              Customer Service<br>
              <a href="mailto:technicalsupport@purdyelectronics.com">technicalsupport@purdyelectronics.com</a> 
              Technical Support </p>
            <p> <strong>FAX</strong> <br>
              408 / 733-1287 </p>
            <p><strong> MAIL</strong> <br>
              Purdy Electronics <br>
                  755 North Pastoria Avenue<br>
                  
              Sunnyvale, CA 94085</p>
            <p><strong> DISTRIBUTORS</strong> &ndash; Here is a listing 
              to find a distributor near you for local sales and support of Purdy 
              Electronics&rsquo; products.<br>
            <a href="/distributors">Search for a Distributor</a>   </p>
            </div>
          </div>