            
        <div id="main_content">
           <%= render partial: "about_links" %> 

            <div class="content">
               <p><%= image_tag "PageTitles/about_about.gif" %></p>
            The mission of Purdy Electronics Corporation is to provide our original 
            equipment manufacturer (OEM) customers with the highest quality electronic 
            components at competitive prices, supported with superior customer 
            and technical service and value added enhancements. 
            <p> Purdy Electronics has been providing electronic components to 
              OEMs for over 75 years. We specialize in manufacturing a limited 
              number of product lines including: <a href="/products/displays">liquid 
              crystal displays</a> (LCD), <a href="/products/opto/default.cfm">light 
              emitting diodes</a> (LED), <a href="products/interfan">fans 
              and blowers</a>, <a href="/products/switches/default.cfm">switches</a>, 
              and <a href="/products/fiber/default.cfm">fiber optic components</a>.</p>
            <p> Located in Northern California&rsquo;s &ldquo; Silicon Valley&rdquo;, 
              we have assembled a team of world-class electronics engineers and 
              technicians. Additionally, we have access to some of the world&rsquo;s 
              best available technical talent which resides in this unique geographical 
              area.</p>
            <p> Due to this abundance of technical resources, we have chosen to 
              focus on <a href="/vas/default.cfm">value-added services</a> in 
              order to differentiate ourselves from our competitors. This allows 
              us to craft the ultimate customized solution to meet the unique 
              requirements of your market and your customer base. </p>
            <p> Please <a href="mailto:customerservice@purdyelectronics.com">contact 
              us</a> for information on how we might be able to help you or to 
              find a <a href="/about/contact.cfm">distributor</a> near you. </p>
            </div>
          </div>