  <div id="main_content">
            <%= render partial: "about_links" %> 
<div class="content">

<table width="414" border="0" cellspacing="0" cellpadding="0">
              <tr valign="top"> 
                <td width="195"><p><strong><a href="/products/index">Products</a></strong><br>
                    <a href="/products/displays">AND Displays</a> 
                    <br>
                    <a href="/products/interfan">Interfan</a> <br>
                    <a href="/products/and_opto">AND Optoelectronics</a> 
                    <br>
                    <a href="/products/switches">INTERSWITCH Switches</a> 
                    <br>
                    <a href="/products/fiber">INTEROPTICS</a> </p>
                  <p><STRONG><a href="/vas/index">Value Added Services</a><br>
                    </STRONG><a href="/products/displays">AND Displays</a> 
                    <br>
                    <a href="/products/interfan_vas.cfm">INTERFAN</a> <br>
                    <a href="/products/opto">AND Optoelectronics</a> 
                    <br>
                    <a href="/products/switches">INTERSWITCH Switches</a> 
                    <br>
                    <a href="/products/fiber>INTEROPTICS</a> </p></td>
                <td width="138"><p><strong><a href="/wnew/index">What's New</a></strong></p>
                  <p><strong><a href="/about/index">About Us</a></strong><br>
                    <a href="/about/index">About The Company</a> <br>
                    <a href="/wnew/index">What's New</a> <br>
                    <a href="/contact_us">Contact Us</a> <br>
                    <a href="/feedback">Feedback</a>                    <br>
                 </p></td>
              </tr>
            </table>
    </div>
</div>