<div class="left_links">
  <ul>
    <li><a href="/products/displays">AND Displays </a></li>
    <li><a href="/products/monitors_tft_lcd_color">Color LCD Monitor</a></li>
    <li><a href="/products/displays_tft_lcd_color">Color LCD Display</a></li>
    <li><a href="/products/displays_graphic_lcd" >Graphic LCD Displays</a></li>
    <li><a href="/products/displays_seven_segment_lcd">7-Segment LCD Display</a></li>
    <li><a href="/products/pnp_prototyping">LCD Prototyping</a></li>
    <li><a href="/products/displays_alphanumeric">Alphanumeric</a></li>
    <li><a href="/products/displays_vas">Value Added LCD Services</a></li>
  </ul>
</div>
