<div class="left_links">
  <ul>
    <li><a href="/products/displays">AND Displays </a></li>
    <li><a href="/products/pnp_prototyping">LCD Prototyping Kits</a></li>
    <li><a href="/products/monitors_tft_lcd_color">Color TFT Monitors</a></li>
    <li><a href="/products/displays_tft_lcd_color">Color TFT Modules</a></li>
    <li><a href="/products/displays_graphic_lcd" >Intelligent Graphic Displays</a></li>
    <li><a href="/products/displays_alphanumeric"> Intelligent Character Displays</a></li>
    <li><a href="/products/displays_seven_segment_lcd">Seven Segment Displays</a></li>
    <li><a href="/products/displays_vas">LCD Value Added Services</a></li>
  </ul>
</div>
