<div class="left_links">
  <ul>
    <li><a href="/products/interswitch">INTERSWITCH</a></li>
    <li><a href="/products/switch_thumb">Thumbwheel Switch</a></li>
    <li><a href="/products/switch_rotary">Rotary DIP Switch</a></li>
    <li><a href="/products/switch_led" >LED Codicount</a></li>
    <li><a href="/products/switch_keypads">IP67 Keypads</a></li>
    <li><a href="/products/switch_vas">Value Added Switch Services</a></li>
  </ul>
</div>