<div class="left_links">
  <ul>
    <li><a href="/products/interfan">INTERFAN</a></li>
    <li><a href="/products/interfan_ac_fans">AC Fans & Blowers</a></li>
    <li><a href="/products/interfan_dc_fans">DC Fans & Blowers</a></li>
    <li><a href="/products/interfan_fan_accessories" >Fan Accessories</a></li>
    <li><a href="/products/interfan_vas">Value Added Fan Services</a></li>
  </ul>
</div>