<div class="left_links">
  <ul>
    <li><a href="/products/and_opto">AND Optoelectronics</a></li>
    <li><a href="/products/red_leds">Red LEDs</a></li>
    <li><a href="/products/amber_leds">Orange/Amber LEDs</a></li>
    <li><a href="/products/yellow_leds" >Yellow LEDs</a></li>
    <li><a href="/products/green_leds">Green LEDS</a></li>
    <li><a href="/products/shaped_leds">Specially Shaped LEDS</a></li>
    <li><a href="/products/dual_color_leds">Dual Color LEDS</a></li>
    <li><a href="/products/segment_leds">7 & 16 Segment LED Displays</a></li>
    <li><a href="/products/vas_leds">Value Added LED Services</a></li>
  </ul>
</div>