
  <p>Click on the <strong>part number</strong> to access a PDF file.</p>


            <p> <strong>If you would like a sample (one per customer):</strong></p>
            <ul>
              <li> Click on the <strong>&ldquo;Order&rdquo;</strong> button. </li>
            </ul>
            <p>If you have design needs not found within these pages, please
                call us or <a href="mailto:customerservice@purdyelectronics.com">email</a>
                your requirements to us. </p>
		<p><a href="/pdf/LCD-SFC.pdf" target="_blank"><strong><font size="2">LCD Short Form Catalog</a> - Download Complete Short Form Catalog</font></strong></p>
            <a name="Table"></a> <table border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td class="TableBorderColor"><table border="0" cellspacing="1">
                      <tr>
                        <td width="134" class="TableTextHeader">Part Number<br>
                          Click for PDF </td>
                        <td align="center" class="TableTextHeader">Screen<br>
                          Diagonal<br>
                          (inches)</td>
                        <td align="center" class="TableTextHeader">Pixel<br>
                          Count (1) <br>
                          W x H</td>
                        <td align="center" class="TableTextHeader">Brightness<br>
                          Nits<br>
                          (cd/m 2 ) </td>
                        <td align="center" class="TableTextHeader">Pixel Pitch<br>
                          (mm) W x H</td>
                        <td align="center" class="TableTextHeader">Active Area
                          (mm) W x H</td>
                        <td align="center" class="TableTextHeader">Overall<br>
                          Dimension<br>
                          (mm)<br>
                          W x H x D</td>
                        <td align="center" class="TableTextHeader">Driving Voltage<br>
                          (V)</td>
                        <td align="center" class="TableTextHeader">Input Signal
                          (2) </td>
                        <td align="center" class="TableTextHeader">Sample<br>
                          Price</td>
			<td align="center" class="TableTextHeader">Stock Check</td>
														<td class="TableTextHeader"><div align="center">Order
                            <br>
                            Sample</div></td>
													</tr>
                      <tr bgclolor="#ffffff">
														<td colspan="12" bgcolor="#ffffff" class="TableTextBold">Poly-Silicon and Amorphous-Silicon Color TFT Displays</td>
													</tr>
		      
             <tr bgcolor="#ffffff">
                          <td width="170" class="TableTextBold"><strong><A HREF="/pdf/AND035VX-UHB-LED.pdf" target="_blank">AND035VX-UHB-LED</a><span class="TableTextNEW">
                            
                              NEW!
                            
                            </span></strong></td>
                          <td class="TableText"><div align="center">3.5</div></td>
                          <td class="TableText"><div align="center">640 x 480</div></td>
                          <td class="TableText"><div align="center">1,300 or 50+/-</div></td>
                          <td class="TableText"><div align="center">0.1125 x 0.1095</div></td>
                          <td class="TableText"><div align="center">72.0 x 52.56</div></td>
                          <td class="TableText"><div align="center">84.25 x 65.4 x 3.45</div></td>
                          <td class="TableText"><div align="center">5.0</div></td>
                          <td class="TableText"><div align="center">Digital 6-bit interface</div></td>
                          
                            <td class="TableText" align="right"><div align="center">$199</div></td>
			<td align="center" class="TableText"><a href="http://dilp.netcomponents.com/cgi-bin/purdyelectronics.asp?partnumber1=AND035VX-UHB-LED&&pq=Search" target="_blank">Inventory</a></td>
                            <td class="TableText"><div align="center"><a href="https://ssl32.chi.us.securedata.net/purdyelectronics.com/orderdetails.cfm?prod_sel=35&&prod_type=tftmodul"><img src="/images/buts/order.gif" width="34" height="14" border="0"></a></div></td>
			    
                        </tr>
                      
             <tr bgcolor="#CCCCCC">
                          <td width="170" class="TableTextBold"><strong><A HREF="/pdf/AND-TFT-35VX-UHB-TS.pdf" target="_blank">AND-TFT-35VX-UHB-TS</a><span class="TableTextNEW">
                            
                              NEW!
                            
                            </span></strong></td>
                          <td class="TableText"><div align="center">3.5</div></td>
                          <td class="TableText"><div align="center">640 x 480</div></td>
                          <td class="TableText"><div align="center">1,300</div></td>
                          <td class="TableText"><div align="center">0.1125 x 0.1095</div></td>
                          <td class="TableText"><div align="center">72.0 x 52.56</div></td>
                          <td class="TableText"><div align="center">84.25 x 65.4 x 4.55</div></td>
                          <td class="TableText"><div align="center">5.0</div></td>
                          <td class="TableText"><div align="center">Digital 6-bit interface</div></td>
                          
                            <td class="TableText" align="right"><div align="center"><a href="/contact">Call</a></div></td>
			<td align="center" class="TableText"><a href="http://dilp.netcomponents.com/cgi-bin/purdyelectronics.asp?partnumber1=AND-TFT-35VX-UHB-TS&&pq=Search" target="_blank">Inventory</a></td>
			    <td class="TableText">&nbsp;</td>
			  
                        </tr>
                      
             <tr bgcolor="#ffffff">
                          <td width="170" class="TableTextBold"><strong><A HREF="/pdf/AND050VL-LED.pdf" target="_blank">AND050VL-LED</a><span class="TableTextNEW">
                            
                              NEW!
                            
                            </span></strong></td>
                          <td class="TableText"><div align="center">5.0</div></td>
                          <td class="TableText"><div align="center">640 x 480</div></td>
                          <td class="TableText"><div align="center">450</div></td>
                          <td class="TableText"><div align="center">0.159 x 0.156</div></td>
                          <td class="TableText"><div align="center">101.76 x 74.88</div></td>
                          <td class="TableText"><div align="center">120.7 x 92.8 x 12.5</div></td>
                          <td class="TableText"><div align="center">5.0</div></td>
                          <td class="TableText"><div align="center">LVDS 6-bit interface</div></td>
                          
                            <td class="TableText" align="right"><div align="center">$206</div></td>
			<td align="center" class="TableText"><a href="http://dilp.netcomponents.com/cgi-bin/purdyelectronics.asp?partnumber1=AND050VL-LED&&pq=Search" target="_blank">Inventory</a></td>
                            <td class="TableText"><div align="center"><a href="https://ssl32.chi.us.securedata.net/purdyelectronics.com/orderdetails.cfm?prod_sel=23&&prod_type=tftmodul"><img src="/images/buts/order.gif" width="34" height="14" border="0"></a></div></td>
			    
                        </tr>
                      
             <tr bgcolor="#CCCCCC">
                          <td width="170" class="TableTextBold"><strong><A HREF="/pdf/ANDpSi056ET1S-HB.pdf" target="_blank">ANDpSi056ET0S-HB</a><span class="TableTextNEW">
                            
                            </span></strong></td>
                          <td class="TableText"><div align="center">5.6</div></td>
                          <td class="TableText"><div align="center">1024 x 600</div></td>
                          <td class="TableText"><div align="center">250</div></td>
                          <td class="TableText"><div align="center">0.120 x 0.120</div></td>
                          <td class="TableText"><div align="center">122.88 x 72</div></td>
                          <td class="TableText"><div align="center">141.8 x 84.4 x 7.5</div></td>
                          <td class="TableText"><div align="center">3.3</div></td>
                          <td class="TableText"><div align="center">LVDS 6-bit interface</div></td>
                          
                            <td class="TableText" align="right"><div align="center">$499</div></td>
			<td align="center" class="TableText"><a href="http://dilp.netcomponents.com/cgi-bin/purdyelectronics.asp?partnumber1=ANDpSi056ET0S-HB&&pq=Search" target="_blank">Inventory</a></td>
                            <td class="TableText"><div align="center"><a href="https://ssl32.chi.us.securedata.net/purdyelectronics.com/orderdetails.cfm?prod_sel=3&&prod_type=tftmodul"><img src="/images/buts/order.gif" width="34" height="14" border="0"></a></div></td>
			    
                        </tr>
                      
             <tr bgcolor="#ffffff">
                          <td width="170" class="TableTextBold"><strong><A HREF="/pdf/AND064VT8-HB-LED.pdf" target="_blank">ANDpSi064VT-HB-LED</a><span class="TableTextNEW">
                            
                              NEW!
                            
                            </span></strong></td>
                          <td class="TableText"><div align="center">6.4</div></td>
                          <td class="TableText"><div align="center">640x 480</div></td>
                          <td class="TableText"><div align="center">400</div></td>
                          <td class="TableText"><div align="center">0.203 x 0.203</div></td>
                          <td class="TableText"><div align="center">129.6 x 97.44</div></td>
                          <td class="TableText"><div align="center">175.4 x 126.9 x 12.5</div></td>
                          <td class="TableText"><div align="center">5.0</div></td>
                          <td class="TableText"><div align="center">LVDS 6-bit interface</div></td>
                          
                            <td class="TableText" align="right"><div align="center"><a href="/contact">Call</a></div></td>
			<td align="center" class="TableText"><a href="http://dilp.netcomponents.com/cgi-bin/purdyelectronics.asp?partnumber1=ANDpSi064VT-HB-LED&&pq=Search" target="_blank">Inventory</a></td>
			    <td class="TableText">&nbsp;</td>
			  
                        </tr>
                      
             <tr bgcolor="#CCCCCC">
                          <td width="170" class="TableTextBold"><strong><A HREF="/pdf/AND065A041F-HB2.pdf" target="_blank">AND065A041F-HB2</a><span class="TableTextNEW">
                            
                            </span></strong></td>
                          <td class="TableText"><div align="center">6.5</div></td>
                          <td class="TableText"><div align="center">640 x 480</div></td>
                          <td class="TableText"><div align="center">400</div></td>
                          <td class="TableText"><div align="center">0.207 x 0.207</div></td>
                          <td class="TableText"><div align="center">132.48 x 99.36</div></td>
                          <td class="TableText"><div align="center">153 x 118 x 11</div></td>
                          <td class="TableText"><div align="center">3.3</div></td>
                          <td class="TableText"><div align="center">Digital 6-bit interface</div></td>
                          
                            <td class="TableText" align="right"><div align="center">$526</div></td>
			<td align="center" class="TableText"><a href="http://dilp.netcomponents.com/cgi-bin/purdyelectronics.asp?partnumber1=AND065A041F-HB2&&pq=Search" target="_blank">Inventory</a></td>
                            <td class="TableText"><div align="center"><a href="https://ssl32.chi.us.securedata.net/purdyelectronics.com/orderdetails.cfm?prod_sel=12&&prod_type=tftmodul"><img src="/images/buts/order.gif" width="34" height="14" border="0"></a></div></td>
			    
                        </tr>
                      
             <tr bgcolor="#ffffff">
                          <td width="170" class="TableTextBold"><strong><A HREF="/pdf/ANDpSi08C351-HB.pdf" target="_blank">ANDpSi08C351-HB</a><span class="TableTextNEW">
                            
                            </span></strong></td>
                          <td class="TableText"><div align="center">8.4</div></td>
                          <td class="TableText"><div align="center">800 x 600</div></td>
                          <td class="TableText"><div align="center">350</div></td>
                          <td class="TableText"><div align="center">0.213 x 0.213</div></td>
                          <td class="TableText"><div align="center">170.4 x 127.8</div></td>
                          <td class="TableText"><div align="center">200 x 150 x 12</div></td>
                          <td class="TableText"><div align="center">3.3</div></td>
                          <td class="TableText"><div align="center">Digital 6-bit interface</div></td>
                          
                            <td class="TableText" align="right"><div align="center">$437</div></td>
			<td align="center" class="TableText"><a href="http://dilp.netcomponents.com/cgi-bin/purdyelectronics.asp?partnumber1=ANDpSi08C351-HB&&pq=Search" target="_blank">Inventory</a></td>
                            <td class="TableText"><div align="center"><a href="https://ssl32.chi.us.securedata.net/purdyelectronics.com/orderdetails.cfm?prod_sel=5&&prod_type=tftmodul"><img src="/images/buts/order.gif" width="34" height="14" border="0"></a></div></td>
			    
                        </tr>
                      
             <tr bgcolor="#CCCCCC">
                          <td width="170" class="TableTextBold"><strong><A HREF="/pdf/ANDpSi089C362S.pdf" target="_blank">ANDpSi089C362S</a><span class="TableTextNEW">
                            
                              NEW!
                            
                            </span></strong></td>
                          <td class="TableText"><div align="center">8.9</div></td>
                          <td class="TableText"><div align="center">1024 x 600</div></td>
                          <td class="TableText"><div align="center">250</div></td>
                          <td class="TableText"><div align="center">0.1905 x 0.1890</div></td>
                          <td class="TableText"><div align="center">195.07 x 113.40</div></td>
                          <td class="TableText"><div align="center">219.5 x 134.5 x 5.2</div></td>
                          <td class="TableText"><div align="center">3.3</div></td>
                          <td class="TableText"><div align="center">LVDS 6-bit interface</div></td>
                          
                            <td class="TableText" align="right"><div align="center">$574</div></td>
			<td align="center" class="TableText"><a href="http://dilp.netcomponents.com/cgi-bin/purdyelectronics.asp?partnumber1=ANDpSi089C362S&&pq=Search" target="_blank">Inventory</a></td>
                            <td class="TableText"><div align="center"><a href="https://ssl32.chi.us.securedata.net/purdyelectronics.com/orderdetails.cfm?prod_sel=25&&prod_type=tftmodul"><img src="/images/buts/order.gif" width="34" height="14" border="0"></a></div></td>
			    
                        </tr>
                      
             <tr bgcolor="#ffffff">
                          <td width="170" class="TableTextBold"><strong><A HREF="/pdf/ANDpSi089C362S-4HB.pdf" target="_blank">ANDpSi089C362S-4HB</a><span class="TableTextNEW">
                            
                              NEW!
                            
                            </span></strong></td>
                          <td class="TableText"><div align="center">8.9</div></td>
                          <td class="TableText"><div align="center">1024 x 600</div></td>
                          <td class="TableText"><div align="center">800</div></td>
                          <td class="TableText"><div align="center">0.1605 x 0.1890</div></td>
                          <td class="TableText"><div align="center">195.07 x 113.40</div></td>
                          <td class="TableText"><div align="center">219.5 x 134.5 x 8.4</div></td>
                          <td class="TableText"><div align="center">3.3</div></td>
                          <td class="TableText"><div align="center">LVDS 6-bit interface</div></td>
                          
                            <td class="TableText" align="right"><div align="center">$749</div></td>
			<td align="center" class="TableText"><a href="http://dilp.netcomponents.com/cgi-bin/purdyelectronics.asp?partnumber1=ANDpSi089C362S-4HB&&pq=Search" target="_blank">Inventory</a></td>
                            <td class="TableText"><div align="center"><a href="https://ssl32.chi.us.securedata.net/purdyelectronics.com/orderdetails.cfm?prod_sel=24&&prod_type=tftmodul"><img src="/images/buts/order.gif" width="34" height="14" border="0"></a></div></td>
			    
                        </tr>
                      
             <tr bgcolor="#CCCCCC">
                          <td width="170" class="TableTextBold"><strong><A HREF="/pdf/AND104X02-HB.pdf" target="_blank">AND104X02-HB</a><span class="TableTextNEW">
                            
                              NEW!
                            
                            </span></strong></td>
                          <td class="TableText"><div align="center">10.4</div></td>
                          <td class="TableText"><div align="center">1024 x 768</div></td>
                          <td class="TableText"><div align="center">340</div></td>
                          <td class="TableText"><div align="center">0.2055 x 0.2055</div></td>
                          <td class="TableText"><div align="center">210.43 x 157.8</div></td>
                          <td class="TableText"><div align="center">238.6 x 173.2 x 4.3</div></td>
                          <td class="TableText"><div align="center">3.3</div></td>
                          <td class="TableText"><div align="center">LVDS 6-bit interface</div></td>
                          
                            <td class="TableText" align="right"><div align="center"><a href="/contact">Call</a></div></td>
			<td align="center" class="TableText"><a href="http://dilp.netcomponents.com/cgi-bin/purdyelectronics.asp?partnumber1=AND104X02-HB&&pq=Search" target="_blank">Inventory</a></td>
			    <td class="TableText">&nbsp;</td>
			  
                        </tr>
                      
             <tr bgcolor="#ffffff">
                          <td width="170" class="TableTextBold"><strong><A HREF="/pdf/AND12C285-4HB.pdf" target="_blank">AND12C285-DHB</a><span class="TableTextNEW">
                            
                            </span></strong></td>
                          <td class="TableText"><div align="center">12.1</div></td>
                          <td class="TableText"><div align="center">800 x 600</div></td>
                          <td class="TableText"><div align="center">500</div></td>
                          <td class="TableText"><div align="center">0.3075 x 0.3075</div></td>
                          <td class="TableText"><div align="center">246.0 x 184.5</div></td>
                          <td class="TableText"><div align="center">290 x 220 x 15</div></td>
                          <td class="TableText"><div align="center">5.0</div></td>
                          <td class="TableText"><div align="center">Digital 6-bit interface</div></td>
                          
                            <td class="TableText" align="right"><div align="center">$451</div></td>
			<td align="center" class="TableText"><a href="http://dilp.netcomponents.com/cgi-bin/purdyelectronics.asp?partnumber1=AND12C285-DHB&&pq=Search" target="_blank">Inventory</a></td>
                            <td class="TableText"><div align="center"><a href="https://ssl32.chi.us.securedata.net/purdyelectronics.com/orderdetails.cfm?prod_sel=19&&prod_type=tftmodul"><img src="/images/buts/order.gif" width="34" height="14" border="0"></a></div></td>
			    
                        </tr>
                      
             <tr bgcolor="#CCCCCC">
                          <td width="170" class="TableTextBold"><strong><A HREF="/pdf/AND12C285-4HB.pdf" target="_blank">AND12C285-4HB</a><span class="TableTextNEW">
                            
                            </span></strong></td>
                          <td class="TableText"><div align="center">12.1</div></td>
                          <td class="TableText"><div align="center">800 x 600</div></td>
                          <td class="TableText"><div align="center">850</div></td>
                          <td class="TableText"><div align="center">0.3075 x 0.3075</div></td>
                          <td class="TableText"><div align="center">246.0 x 184.5</div></td>
                          <td class="TableText"><div align="center">290 x 220 x 17</div></td>
                          <td class="TableText"><div align="center">5.0</div></td>
                          <td class="TableText"><div align="center">Digital 6-bit interface</div></td>
                          
                            <td class="TableText" align="right"><div align="center">$651</div></td>
			<td align="center" class="TableText"><a href="http://dilp.netcomponents.com/cgi-bin/purdyelectronics.asp?partnumber1=AND12C285-4HB&&pq=Search" target="_blank">Inventory</a></td>
                            <td class="TableText"><div align="center"><a href="https://ssl32.chi.us.securedata.net/purdyelectronics.com/orderdetails.cfm?prod_sel=18&&prod_type=tftmodul"><img src="/images/buts/order.gif" width="34" height="14" border="0"></a></div></td>
			    
                        </tr>
                      
             <tr bgcolor="#ffffff">
                          <td width="170" class="TableTextBold"><strong><A HREF="/pdf/" target="_blank">ANDpSi121C250F-HB</a><span class="TableTextNEW">
                            
                              NEW!
                            
                            </span></strong></td>
                          <td class="TableText"><div align="center">12.1</div></td>
                          <td class="TableText"><div align="center">1024 x 768</div></td>
                          <td class="TableText"><div align="center">400</div></td>
                          <td class="TableText"><div align="center">0.24 x 0.24</div></td>
                          <td class="TableText"><div align="center">246.7 x 184.32</div></td>
                          <td class="TableText"><div align="center">278.3 x 209 x 12</div></td>
                          <td class="TableText"><div align="center">3.3</div></td>
                          <td class="TableText"><div align="center">LVDS 6-bit interface</div></td>
                          
                            <td class="TableText" align="right"><div align="center"><a href="/contact">Call</a></div></td>
			<td align="center" class="TableText"><a href="http://dilp.netcomponents.com/cgi-bin/purdyelectronics.asp?partnumber1=ANDpSi121C250F-HB&&pq=Search" target="_blank">Inventory</a></td>
			    <td class="TableText">&nbsp;</td>
			  
                        </tr>
                      
                      <tr bgclolor="#ffffff">
														<td colspan="12" bgcolor="#ffffff" class="TableTextBold"></td>
													</tr>
		      
                    </table>