<style>
  #header_container { width:764px; height:250px; background:url(<%= asset_path "headers/2ndhead_Opto.jpg" %>) no-repeat left bottom;}
</style>

<div id="main_content">
            <%= render :partial => 'opto_links' %>
        <div class="content">
            <div>
              <%= image_tag "PageTitles/andop_andop.gif" %>
            </div>

            <strong> AND Optoelectronics</strong> 
            has been supplying a broad assortment of high performance <a href="/products/blue_leds">light 
            emitting diode</a> (LED) lamps and LED <a href="/products/displays_seven_segment_lcd">segment 
            displays</a> for over 30 years. Our ultra bright led lamps are on 
            the high end of the performance spectrum and come in 3mm, 5mm, and 
            10mm for &ldquo;wire lead lamps&rdquo;. Additionally, we specialize 
            in surface mount LED lamps, and we offer a wide variety of specification 
            options and packages (including flat, domed, TOP, and right angle). 
            <p> Our LED segment displays are available in seven (7) and sixteen 
              (16) segment versions, a variety of sizes, colors, intensities, 
              and cathode or anode polarity.
              All (AND Displays, Interfan, AND Optoelectronics, Interswitch, or Interoptics) products are covered by a one-year  <a href="/warranty">warranty</a> against defects in materials or workmanship. 
            </p>
            <p><strong> The Ultra Bright Advantage</strong> &ndash; Our LED product 
              line is primarily composed of lamps made with AlInGaP die with luminous 
              intensity up to 12,000 mcd. This is a high performance semiconductor 
              material that offers higher luminous intensity, even with wide viewing 
              angle lamps (versus lamps made from other materials). Alternatively, 
              they require low power input. This makes these light emitting diodes 
              (LEDs) suitable for your most demanding applications, whether outdoor 
              signage or an indicator on your handheld instrument.</p>
            <p><strong> Focus on New Blue, White and Green LED Materials</strong> 
              &ndash; We have invested heavily in this new technology and see 
              this as a focus of our LED business. We have a broad assortment 
              of high performance InGaN lamps as well as the 


more cost effective

 GaN 
              lamps to address tighter budgets. We offer a full range of sizes 
              and specifications at aggressive pricing levels.</p>
            <p><strong> Value Added Services</strong> &ndash; In addition to providing 
              a full line of standard &ldquo;off-the-shelf&rdquo; light emitting 
              diode lamps and segment displays, we specialize in providing <a href="/products/vas_leds">value 
              added services</a> to deliver lamps and displays to meet your application 
              specific requirements. </p>
            <p><strong> LED Lamp and LED Segment Display Products</strong> &ndash; 
              Check out our latest LED line-up below. By clicking on the color 
              of the LED lamp or display that meets your needs, you will be shown 
              an overview of the available products in that category. You will 
              then be able to select LED lamp and segment display data sheets 
              to view and download, and to order samples. </p>
            <ul>
              <li><strong> <a href="/products/red_leds">Red LED Lamps</a> 
                </strong></li>
              <li><strong> <a href="/products/amber_leds">Orange-Amber 
                LED Lamps</a> </strong></li>
              <li><strong> <a href="/products/yellow_leds">Yellow LED Lamps 
                </a></strong></li>
              <li><strong> <a href="/products/green_leds">Green LED Lamps 
                </a></strong></li>
              <li><strong><a href="/products/blue_leds"> Blue and 
                White LED Lamps </a></strong></li>
              <li><strong> <a href="/products/dual_color_leds">Dual Color 
                LED Lamps</a> </strong></li>
              <li><strong><a href="/products/opto/ledspecialshape.cfm"> LED Lamps 
                with Special Shaped Packages</a> </strong></li>
              <li><strong><a href="/products/segment_leds"> Red 
                7 &amp; 16 Segment LED Displays </a></strong></li>
              <li><strong><a href="/products/segment_leds"> Green 
                7 &amp; 16 Segment LED Displays</a></strong></li>
            </ul>
            <p> If you have design needs not found within these pages, please 
              call us or <a href="mailto:customerservice@purdyelectronics.com">email</a> 
              your requirements to us. </p>

    </div>
</div>