<style>
  #header_container { width:764px; height:250px; background:url(<%= asset_path "headers/2ndhead_Displays.jpg" %>) no-repeat left bottom;}
</style>

<div id="main_content">
            <%= render :partial => 'display_links' %>
        <div class="content">
  <%= image_tag "PageTitles/anddis_mssd.gif" %>
  
<img src="/images/um.gif" width="1" height="8"><br>
            We offer a broad assortment of <a href="#Table">7 segment displays</a>
             (often called panel displays). Standard formats
            range from 2 characters up to 8 characters (custom formats and configurations
            are also available). All of our seven segment displays are designed
            for use in wide temperature and high humidity environments. Backlighting
            is available in both reflective and transflective configurations.
             All (AND Displays, Interfan, AND Optoelectronics, Interswitch, or Interoptics) products are covered by a one-year  <a href="/warranty">warranty</a> against defects in materials or workmanship. 
             <p> The 7 segment display is excellent for displaying text on portable
              instruments due to its low power requirements. Typical applications
              would be medical / commercial / industrial instrumentation. Because
              of its low cost it is also suitable for disposable devises and instruments.</p>
            <p> Please also see how we might be able to help you with a <a href="/products/displays_vas">custom
              solution</a> to your LCD.</p>
            <p> Not looking for a Panel Display? Go <a href="/products/displays">back</a>
              to see other LCD options.</p>


        </div>
</div>