<style>
  #header_container { width:764px; height:250px; background:url(<%= asset_path "headers/2ndhead_Displays.jpg" %>) no-repeat left bottom;}
</style>

<div id="main_content">
            <%= render :partial => 'display_links' %>
        <div class="content">
  <%= image_tag "PageTitles/anddis_miadm.gif" %>
  
<img src="/images/um.gif" width="1" height="8"><br>
            We offer a broad assortment of intelligent <a href="#Table">alphanumeric</a> 
            displays with built-in control circuitry (often called character displays). 
            Standard formats range from 1 line by 16 characters up to 4 lines 
            by 40 characters (custom formats are also available). High bright 
            backlight systems that we offer include transflective reflectors and 
            LED arrays, with electroluminescent panels available on a special 
            order basis. High brightness backlights are desirable in most medical 
            / commercial / industrial instrumentation applications. 
            All (AND Displays, Interfan, AND Optoelectronics, Interswitch, or Interoptics) products are covered by a one-year  <a href="/warranty">warranty</a> against defects in materials or workmanship. 
            <p> Most of the displays come with the widely used and highly versatile 
              HD44780 controller built-in. These displays are appropriate for 
              use do an excellent job on text.</p>
            <p> Please also see how we might be able to help you with a <a href="/products/displays_vas">custom 
              solution</a> [VAS] to your LCD.</p>


        </div>
</div>