<style>
  #header_container { width:764px; height:250px; background:url(<%= asset_path "headers/2ndhead_Displays.jpg" %>) no-repeat left bottom;}
</style>

<div id="main_content">
            <%= render :partial => 'display_links' %>
        <div class="content">
<%= image_tag "PageTitles/anddis_migdm.gif" %>
 <img src="/images/um.gif" width="1" height="8"><br>
            We offer a broad assortment of <a href="#Table">intelligent graphic</a>
            displays with built-in controller circuitry. Resolutions range from
            120x64 pixels to QVGA (320x240 pixels) format in an assortment of
            STN, FSTN, and BSTN technologies. These high contrast displays have
            high bright backlight systems including transflective reflectors,
            electroluminescent panels, and CCFL tube lighting (inverters available).
            (White LED backlights are also available.) High brightness backlights
            are desirable in most medical / commercial / industrial / vehicular
            instrumentation applications.
            <p> Most of the displays come with the widely used and highly versatile
              T6963C controller built-in. These displays do an excellent job on
              text, graphics, pictures and full motion video.</p>
            <p> Please also see how we might be able to help you with a <a href="/products/displays_vas">custom
              solution</a> to your LCD.</p>
            <p> Not looking for an Intelligent Graphic Display? Go <a href="/products/displays">back</a>
              to see other LCD options. </p>
    </div>
</div>