<style>
  #header_container { width:764px; height:250px; background:url(<%= asset_path "headers/2ndhead_Displays.jpg" %>) no-repeat left bottom;}
</style>

<div id="main_content">
            <%= render :partial => 'display_links' %>
            <div class="content">
<img src="/images/um.gif" width="1" height="8"><br> <strong> AND Displays</strong> 
            has been your single source for all of your Liquid Crystal Display 
            (LCD) needs since 1978. While we offer almost 100 standard displays, 
            we specialize in designing custom flat panel LCD display solutions 
            to meet the unique needs of our OEM customers. We offer a broad assortment 
            of <a href="/products/displays_tft_lcd_color">color and monochrome</a> 
            LCD displays from the original <a href="/products/displays_seven_segment_lcd">seven 
            segment (panel) displays</a> to the recently introduced low temperature 
            <a href="/products/monitors_tft_lcd_color">poly-silicon Thin Film Transistor 
            (TFT) color displays</a>. 
            <p> Our LCD displays are targeted at commercial and industrial OEMs 
              making products such as medical instruments, factory automation, 
              vehicular instruments, thermal imaging, and cameras. We strive extend 
              the life cycle of our displays to meet our customers&rsquo; needs.  
              All (AND Displays, Interfan, AND Optoelectronics, Interswitch, or Interoptics) products are covered by a one-year  <a href="/warranty">warranty</a> against defects in materials or workmanship. 
            </p>
            <p><strong> <a href="/products/pnp_prototyping">Plug and Play Prototyping Kits</a></strong> &ndash; To aid 
              in the prototyping process, we have assembled all of the components 
              that you will need to light up your display the day that you get 
              it. The kits generally include: the display, LCD controller circuitry, 
              power supply, CCFL 


DC-AC

inverter, and cabling. Also included is full 
              documentation, including component specifications, system diagram 
              and cable maps.</p>
            <p><strong> Value Added Services</strong> -- In addition to providing 
              a full line of standard &ldquo;off-the-shelf&rdquo; color and monochrome 
              displays, we specialize in providing <a href="/products/displays_vas">value 
              added services</a> to deliver a custom display assembly to meet 
              your application specific requirements.</p>
            <p><strong> LCD Display Offerings</strong> &ndash; Check out our latest 
              display line-up below. By clicking on the category of displays that 
              meets your needs, you will be able to obtain an overview of the 
              displays in this category and select display data sheets to view 
              and / or download as PDF files.</p>
            <ul>
              <li><strong><a href="/products/monitors_tft_lcd_color"> Color TFT 
                Monitors</a> </strong></li>
              <li><strong><a href="/products/displays_tft_lcd_color"> Color TFT 
                Displays Modules (p-Si and a-Si)</a></strong></li>
              <li><strong><a href="/products/displays_graphic_lcd"> Intelligent 
                Graphic Displays Modules</a></strong></li>
              <li><strong><a href="/products/displays_alphanumeric"> Intelligent 
                Character Displays Modules</a></strong></li>
              <li><strong><a href="/products/displays_seven_segment_lcd"> Seven (7) 
                Segment Displays (a.k.a. Panel Displays)</a></strong></li>
            </ul>
            <p> If you have design needs not found within these pages, please 
              call us or <a href="mailto:customerservice@purdyelectronics.com">email</a> 
              your requirements to us. </p>
</div>
</div>