<style>
  #header_container { width:764px; height:250px; background:url(<%= asset_path "headers/2ndhead_Displays.jpg" %>) no-repeat left bottom;}
</style>

<div id="main_content">
            <%= render :partial => 'display_links' %>
        <div class="content">
            <div>
              <%= image_tag "PageTitles/anddis_ctftdm.gif" %>
            </div>

            We offer TFT display <a href="#Table">modules</a> that range from
            2.2&rdquo; to 15&rdquo; diagonal in an assortment of poly-silicon
            (p-Si) and amorphous-silicon (a-Si) with VGA, SVGA, and XGA pixel
            resolution. The input signal is a 6-bit or 8-bit RGB digital data
            or LVDS data for the p-Si displays. These displays have high-bright
            CCFL backlights that generally provide 250 to 1,500 nits of light
            output through the front of the display. (White LED backlights are
            also available.) High brightness backlights are desirable in most
            medical / commercial / industrial / vehicular instrumentation applications. All (AND Displays, Interfan, AND Optoelectronics, Interswitch, or Interoptics) products are covered by a one-year  <a href="/about/warranty.cfm">warranty</a> against defects in materials or workmanship.            <p><strong> The Poly-Silicon Advantage</strong> &ndash; While our
              LCD flat panel displays come in both amorphous-silicon (a-Si) and
              cutting edge low temperature poly-silicon (p-Si) compositions, poly-silicon
              has some significant advantages. Poly-silicon displays have row
              and column drivers etched directly onto the glass, which reduces
              PCB, interconnects by 95%, yielding a display that is more rugged
              and reliable. Also, their transistors are smaller which improves
              their aperture ratio and generally provides a brighter display with
              higher pixel densities for improved resolution and a truly photographic
              image.</p>
            <p><strong> Plug and Play Prototyping Kits</strong> &ndash; To aid
              in the prototyping process, we have assembled all of the components
              that you will need to light up your display the day that you get
              it. The kits generally include: the display, LCD controller circuitry,
              power supply, CCFL inverter, and cabling. Also included is full
              documentation, including component specifications, system diagram
              and cable maps.</p>
            <p> Please also see how we might be able to help you with a <a href="/products/displays/vas.cfm">custom
              solution</a> [VAS] to your LCD.</p>
            <p> Not looking for a Color TFT Display Module? Go <a href="/products/displays/default.cfm">back</a>
              to see other LCD options.</p>
            <p><strong>If you would like to download a data sheet:</strong></p>

    </div>
</div>