<style>
  #header_container { width:764px; height:250px; background:url(<%= asset_path "headers/2ndhead_Displays.jpg" %>) no-repeat left bottom;}
</style>

<div id="main_content">
            <%= render :partial => 'display_links' %>
        <div class="content">
  <%= image_tag "PageTitles/anddis_vas.gif" %>
  
<img src="/images/um.gif" width="1" height="8"><br>
             <img src="/images/um.gif" width="1" height="8"><br>
            In addition to providing a full line of standard <a href="/products/displays_tft_lcd_color">color</a> 
            and <a href="/products/monitors_tft_lcd_color">monochrome</a> displays, 
            we specialize in working with you to craft a custom LCD solution in 
            order to meet your application-specific requirements. We have provided 
            solutions for medical instruments, thermal imaging, factory automation, 
            high-speed cameras, movie cameras, vehicular controls, robotics, and 
            scientific, test and measurement instruments. 
            <p><strong> Plug and Play Prototyping Kits</strong> &ndash; To aid 
              in the prototyping process, we have assembled all of the components 
              that you will need to light up your display the day that you get 
              it. The kits generally include: the display, controller circuitry, 
              CCFL inverter, and cabling. Also included is full documentation, 
              including component specifications, system diagram, and cable maps.</p>
            <p><strong> Value Added Services for Displays</strong> -- Other examples 
              of some custom solutions that we have produced include the following:</p>
            <ul>
              <li> Custom LCD backlights 


high bright, daylight and sunlight readable</li>
              <li> Special viewing angle requirements </li>
              <li> LCD Controller cards (custom and standard) including NTSC, 
                PAL, analog RGB, video, digital QVGA, VGA, SVGA &amp; XGA </li>
              <li> High bright backlights (daylight and sunlight readable) </li>
              <li> White LED backlights </li>
              <li> Touch Panels (resistive and capacitive) </li>
              <li> Inverters (DC to AC) </li>
              <li> Cabling and connectors </li>
              <li> Anti-reflective coating </li>
              <li> Heaters integrated into the display </li>
              <li> Ruggedizing</li>
              <li> AQL and QA testing </li>
            </ul>
            <p> Please <a href="mailto:customerservice@purdyelectronics.com">contact 
              us</a> to see how we can help you meet your specific design needs.</p>
            <p> Look for information on the <a href="/products/displays">AND 
              Displays</a> product offerings. </p>


        </div>
</div>