<style>
  #header_container { width:764px; height:250px; background:url(<%= asset_path "headers/2ndhead_Interfan.jpg" %>) no-repeat left bottom;}
</style>

<div id="main_content">
            <%= render :partial => 'opto_links' %>
        <div class="content">
            <div>
              <h1 style="margin:0px; color:191970; font-size:24px; font-family : Arial, Helvetica, sans-serif; font-weight : normal;">Dual Color LED Lamps</h1>
            </div>

            <a href="#Table">Below</a>, we offer an assortment of dual color 
              LEDs red/green and yellow/green (other colors available on a special 
              order basis). These lamps have luminous intensity ranging from 1 
              to 14 mcd. Packaging includes lamps in 3, 5 and 2X5 mm sizes. 
              <p> Check out our offering of dual color light emitting diode lamps 
                in the <a href="#Table">table</a> below. If you have an application-specific 
                need, please visit our <a href="/products/vas_leds">value added services</a> 
                page.
                All (AND Displays, Interfan, AND Optoelectronics, Interswitch, or Interoptics) products are covered by a one-year  <a href="/about/warranty.cfm">warranty</a> against defects in materials or workmanship. 
              </p>




    </div>
</div>