            
        <div id="main_content">
            <div class="left_links">
              <ul>
                <li><a href="/products/displays">AND Displays</a></li>
                <li><a href="/products/interfan">INTERFAN</a></li>
                <li><a href="/products/and_opto">AND Optoelectronics</a></li>
                <li><a href="/products/interswitch" >INTERSWITCH</a></li>
                <li><a href="/products/interoptics">INTEROPTICS</a></li>
              </ul>
            </div>

            <div class="content">
              <p><%= image_tag "PageTitles/products_superior.gif" %></p>
              Purdy Electronics Corporation has supplied superior electronic component
              solutions to commercial and industrial electronic OEM customers for
              over 75 years . We specialize in <a href="/products/displays">LCD</a>,
              <a href="/products/and_opto">LED</a>, <a href="/products/interfan">cooling
              fans/blowers</a>, as well as <a href="/products/switches/default.cfm">switches</a>
              and <a href="/products/fiber/default.cfm">fiber optic</a> components. All our
              products are designed to suit the requirements of applications such
              as medical instruments, thermal imaging, telecommunications, office
              automation, vehicular instrumentation, test &amp; measurement instruments,
              and factory automation.
              <p>Purdy Electronics also specializes in <a href="/vas/index">Value
                Added Services</a> for all our product lines which means that we
                can enhance our products to meet your application specific requirements.
                Additionally, please check out our <a href="/wnew/default.cfm">WHAT'S
                NEW</a> page to learn more about our new line of poly-silicon LCDs
                as well as other new products.</p>
              <p> Please use this website to help you find the components that you
                are seeking. Once you have found what you are looking for, please
                <a href="mailto:customerservice@purdyelectronics.com">contact us</a>
                for a sample or a <a href="/about/request.cfm">request for
                quote</a>. If you have questions that are not answered on this site,
                please <a href="mailto:customerservice@purdyelectronics.com">email
                us</a> or call 408/523-8225 &ndash; other <a href="/contact">contact
                information</a> can be gotten here.</p>
            </div>
          </div>