<style>
  #header_container { width:764px; height:250px; background:url(<%= asset_path "headers/2ndhead_Interfan.jpg" %>) no-repeat left bottom;}
</style>

<div id="main_content">
            <%= render :partial => 'interfan_links' %>
        <div class="content">
            <div>
              <%= image_tag "PageTitles/inter_vas.gif" %>
            </div>

      <p> In addition to offering a full line of <a href="/products/interfan/axialdc.cfm">DC</a> 
              and <a href="/products/interfan/axialac.cfm">AC</a> cooling sensor 
              fans and blowers, heat sink fans, fan cables and fan connectors, 
              we specialize in working with you to craft a custom cooling solution 
              to meet your application-specific requirements. We have provided 
              solutions for medical instruments, automated teller machines (ATMs), 
              telephony / telecom switches, factory automation, video cards, and 
              scientific, test and measurement instruments. </p>
            <p><strong> Value Added Fan Services for Sensor Fans &amp; Blowers</strong> 
              -- Examples of some custom RoHS compliant fans we have produced 
              include the following:</p>
            <ul>
              <li> Custom fan or blower </li>
              <li> Mounting inserts </li>
              <li> Fan trays</li>
              <li> Fan cables </li>
              <li>Fan connectors</li>
              <li> Sensor fans</li>
            </ul>
            <p> Please <a href="mailto:customerservice@purdyelectronics.com">contact 
              us</a> to see how we can help you meet your specific design needs.</p>
            <p> Please also check out information on our <a href="/products/interfan/default.cfm">INTERFAN</a> 
              product RoHS compliant fan offerings.</p>



    </div>
</div>