<style>
  #header_container { width:764px; height:250px; background:url(<%= asset_path "headers/2ndhead_Interfan.jpg" %>) no-repeat left bottom;}
</style>

<div id="main_content">
            <%= render :partial => 'interfan_links' %>
        <div class="content">
            <div>
              <%= image_tag "PageTitles/inter_interfan.gif" %>
            </div>

            <strong>Interfan</strong> has been supplying <a href="/products/interfan_ac_fans">AC</a> 
            and <a href="/products/interfan_dc_fans">DC</a> tube axial fans and radial (centrifugal) 
            blowers, and fan <a href="/products/interfan_fan_accessories">accessories</a> to commercial 
            and industrial electronic OEMs for over forty years. We have engineered 
            our fans and blowers to have superior life expectancies and to have 
            silent operation. Interfan cooling products meet or exceed international 
            safety standards, and most products have been certified by one or 
            more of the following safety agencies: UL, CSA, and cUL. 
            All (AND Displays, Interfan, AND Optoelectronics, Interswitch, or Interoptics) products are covered by a one-year  <a href="/warranty">warranty</a> against defects in materials or workmanship. 
            <p> Our products come standard with locked rotor and polarity protection. 
              We also offer sensor monitoring to detect motor speed, fluctuation 
              and stoppage and then generate an alarm signal. Sample applications 
              include medical instruments, car radios, ATM terminals, factory 
              automation, sun tanning beds, telephony switches (metal frame DC 
              fans), and heat sink fans for rack mounted PCBs.</p>
            <p><strong> The Sealed Ball Bearing Advantage</strong> &ndash; Interfan 
              standard fans and blowers all utilize sealed ball bearing construction. 
              While we do provide sleeve bearings on a special order basis, sealed 
              ball bearing construction is inherently a design which will provide 
              more years of service than a sleeve bearing design. Because of the 
              low mechanical load on the bearing system, the lubricant life and 
              temperature are the key factors in determining the life of the bearing 
              and the fan. By using a proprietary lubricant formulation, sealed 
              inside the ball bearing, an advanced blade design to reduce the 
              load, a high efficiency motor and heat sinking construction to reduce 
              temperatures, we are able to offer fans and blowers with superior 
              life expectancies.</p>
            <p><strong> Engineered for Silent Operation</strong> &ndash; In addition 
              to providing extended life expectancy, Interfan fans and blowers 
              offer superior management of offensive noise. Our noise reduction 
              is achieved primarily by improving propeller design to reduce air 
              turbulence and by improving housing design to reduce eddy flow noise 
              at the front intake.</p>
            <p><strong> Value Added Services</strong> &ndash; In addition to providing 
              a full line of standard fans and blowers, we specialize in providing 
              <a href="/products/interfan_vas">value added services</a> to deliver cooling products 
              to meet your application specific requirements.</p>
            <p><strong> DC and AC Fans, Blowers and Accessories</strong> &ndash; 
              Check out our latest line-up of cooling products below. By clicking 
              on the category that meets your needs you will be shown an overview 
              of the available products that category. You will then be able to 
              select the cooling product data sheets to view and down load, and 
              to order a sample.</p>
            <ul>
              <li> <strong><a href="/products/interfan_ac_fans">AC</a></strong> <strong>Cooling Fan and Blowers</strong> </li>
              <li> <strong><a href="/products/interfan_dc_fans">DC</a></strong> <strong>Cooling Fans, Blowers, and Heat Sink Fans </strong></li>
              <li><strong> <a href="/products/interfan_fan_accessories">Accessories</a> &ndash; Fan 
                Finger Guards, Filters and Cords </strong></li>
            </ul>
            <p> If you have design needs not found within these pages, please 
              call us or <a href="mailto:customerservice@purdyelectronics.com">email</a> 
              your requirements to us. </p>

    </div>
</div>