<style>
  #header_container { width:764px; height:250px; background:url(<%= asset_path "headers/2ndhead_Switch.jpg" %>) no-repeat left bottom;}
</style>

<div id="main_content">
            <%= render :partial => 'interswitch_links' %>
            <div class="content">
            	
				<br>            <img src="/images/um.gif" width="1" height="8"><br>            <strong> Interswitch</strong> has been supplying original equipment manufacturers with a specialty line of switches and keypads for over 40 years. Specific products that we offer include the following: <a href="/products/switch_thumb">Thumbwheel Switches</a>; <a href="/products/switch_rotary">Rotary DIP Code Switches</a>; <a href="/products/switch_led">Codicount 7 Segment Displays Switches</a>; and <a href="/products/switch_keypads">Keypads</a> for harsh environments. 
            All (AND Displays, Interfan, AND Optoelectronics, Interswitch, or Interoptics) products are covered by a one-year  <a href="/warranty">warranty</a> against defects in materials or workmanship. 
          <p>Thumbwheel and codicount switches are generally found on the front panels of various instruments and equipment, while DIP switches are usually found tucked away on circuit boards inside the system.</p>
            <p><strong> <a href="/products/switch_vas">Value Added Services</a></strong> &ndash; In addition to providing a full line of standard &ldquo;off-the-shelf&rdquo; switches and keypads, we specialize in providing value added services to deliver components to meet your application specific requirements. Along with these services, we provide excellent engineering support.</p>
            <p><strong> Switches and Keypad Products</strong> &ndash; Check out our latest switch and keypad line-up below. By clicking on the product category that meets your needs, you will be shown an overview of the available products in that category. You will then be able to select the switch or keypad to view and download, and to order samples. </p>
            <ul>
              <li><strong> <a href="/products/switch_thumb">Thumbwheel Switches</a> </strong></li>
              <li><strong> <a href="/products/switch_rotary">Rotary DIP Code Switches</a> </strong></li>
              <li><strong> <a href="/products/switch_led">Codicount 7 Segment LED Display Switches</a> </strong></li>
              <li><strong> <a href="/products/switch_keypads">Immersion-Proof Keypads</a></strong></li>
            </ul>
          <p> If your design needs are not found within these pages, please <a href="/contact">call</a> us or   <a href="mailto:customerservice@purdyelectronics.com">email</a> your requirements to us. </p>
          
	</div>
</div>