<style>
  #header_container { width:764px; height:250px; background:url(<%= asset_path "headers/2ndhead_Interfan.jpg" %>) no-repeat left bottom;}
</style>

<div id="main_content">
            <%= render :partial => 'interfan_links' %>
        <div class="content">
            <div>
              <%= image_tag "PageTitles/inter_acfab.gif" %>
            </div>

        <strong> INTERFAN</strong> offers a full range of AC tube axial fan
            and radial (centrifugal) blower products in 115V and 230V. The AC
            fans come in industry-standard sizes ranging from 80x80x25mm to 172x150x51mm,
            with standard mounting holes. Airflow ranges from 33 to 238 cubic
            feet per minute (CFM). Like all <a href="/products/interfan">Interfan products</a>,
            our AC fans and blowers are designed to provide silent operation and
            utilize sealed ball bearing construction for superior life expectancy.
            All (AND Displays, Interfan, AND Optoelectronics, Interswitch, or Interoptics) products are covered by a one-year  <a href="/warranty">warranty</a> against defects in materials or workmanship. 
            <p> While the AC tube axial fans are best suited to cooling enclosed
              instruments, our AC radial blowers are excellent for applications
              that require cooling a hot spot. Three wire sensor fans are available,
              as are cabling and connector <a href="/products/interfan_vas">value added services</a>.
              <a href="/products/interfan_fan_accessories">Accessories</a> are also available to
              meet your design need. Applications include ATM terminals, factory
              automation, and cell phone transmission sites.</p>
            <p><strong> Check out our offerings of AC fans and blowers below:</strong></p>
<p><strong>If you would like to download a data sheet:</strong></p>
<ul>
  <li>Click on the <strong>part number</strong> to access a PDF file.</li>
  </ul>

            <p><strong> If you would like a sample of an AC fan or blower (one
              per customer):</strong></p>
            <ul>
              <li> Fill in the part number (one per customer, please); </li>
              <li> Click on the <strong>&ldquo;Order&rdquo;</strong> button.
              </li>
            </ul>
            <p> If you have design needs not found within these products, please
              call us or <a href="mailto:customerservice@purdyelectronics.com">email</a>
              your requirements to us. </p>
    <p>

    </div>
</div>