<style>
  #header_container { width:764px; height:250px; background:url(<%= asset_path "headers/2ndhead_Interfan.jpg" %>) no-repeat left bottom;}
</style>

<div id="main_content">
            <%= render :partial => 'interfan_links' %>
        <div class="content">
            <div>
              <%= image_tag "PageTitles/inter_ffffg.gif" %>
            </div>

     <strong>INTERFAN</strong> fan filter and fan finger guard accessories 
            are available for most of our <a href="/products/interfan/axialac.cfm">AC</a> and <a href="/products/interfan/axialdc.cfm">DC</a> 
            fan offerings. We offer wire form fan finger guards to fit all standard 
            fan sizes. 
            All (AND Displays, Interfan, AND Optoelectronics, Interswitch, or Interoptics) products are covered by a one-year  <a href="/about/warranty.cfm">warranty</a> against defects in materials or workmanship. 
            <p> We also offer plastic fan filter and metal fan filter accessories. 
              The plastic fan filter consists of a finger guard, foam filter and 
              retainer. The filter media comes in 30, 45, 60 and 100 PPI, offering 
              a wide range of filtering capabilities. The metal fan filters offer 
              high levels of air passage while efficiently filtering contaminants 
              and shielding EMI/RFI. The aluminum frame holds a tightly woven 
              stainless steel corrugated mesh screen for high performance in difficult 
              environments.</p>
            <p> We also offer fan power cords, primarily to support our <a href="/products/interfan/axialac.cfm">AC 
              fan line</a>. These cords come standard in 24&rdquo; lengths with 
              a straight plug. They are also available in the length of your choice 
              with an assortment of head styles. We also offer <a href="/products/interfan/vas.cfm">value 
              added services</a> for custom cable and connector assemblies.</p>
            <p><strong> Check out our offerings of fan finger guards, filters 
              and cords below:</strong></p>
<p><strong>If you would like to download a data sheet:</strong></p>



    </div>
</div>