<style>
  #header_container { width:764px; height:250px; background:url(<%= asset_path "headers/2ndhead_Interfan.jpg" %>) no-repeat left bottom;}
</style>

<div id="main_content">
            <%= render :partial => 'interfan_links' %>
        <div class="content">
            <div>
              <%= image_tag "PageTitles/inter_dcfab.gif" %>
            </div>

       <strong> INTERFAN</strong> offers a full range of brushless DC tube axial fan and radial (centrifugal) blower products in 5V, 12V, 24V, and 48V versions. The DC fans come in industry-standard sizes ranging from 25x25x10mm to 120x120x38mm, with standard mounting holes. Airflow ranges from 1 to 125 cubic feet per minute (CFM). Like all <a href="/products/interfan/default.cfm">Interfan products</a>, our DC fans and blowers are designed to provide silent operation and utilize sealed ball bearing construction for superior life expectancy.
            All (AND Displays, Interfan, AND Optoelectronics, Interswitch, or Interoptics) products are covered by a one-year  <a href="/about/warranty.cfm">warranty</a> against defects in materials or workmanship.             
            <p> While the DC tube axial fans are best suited to cooling enclosed instruments, our DC heat sink fans and our DC radial blowers are excellent for applications that require cooling a hot spot. Three wire sensor fans are available, as are cabling and connector <a href="/products/interfan/vas.cfm">value added services</a>. <a href="/products/interfan/accessories.cfm">Accessories</a> are also available to meet your design need. Applications include medical instruments, car entertainment systems, and telecom switches that use our metal frame DC fan.</p>
            <p><strong> Check out our offerings of DC fans and blowers below:</strong></p>
<p><strong>If you would like to download a data sheet:</strong></p>


    </div>
</div>