<style>
  #header_container { width:764px; height:250px; background:url(<%= asset_path "headers/2ndhead_Displays.jpg" %>) no-repeat left bottom;}
</style>

<div id="main_content">
            <%= render :partial => 'display_links' %>
        <div class="content">
  <%= image_tag "PageTitles/anddis_ctftm.gif" %>

<img src="/images/um.gif" width="1" height="8"><br>
            We offer active matrix color TFT video <a href="#Table">monitors</a>
            that range from 2.5&rdquo; to 6.4&rdquo; diagonal with CCFL and white
            LED backlights and available controller circuitry. These amorphous-silicon
            (a-Si) LCDs are primarily QVGA pixel resolution. These parts typically
            will accept a NTSC, PAL, analog RGB or composite video signal input.
            These displays provide a clear, crisp, color image with an excellent
            viewing angle while being the most cost effective of the color flat
            panel displays. Examples of applications that would use the LCD display
            monitor would be security systems, medical instruments, thermal imaging,
            test, measurement and scientific instruments.
            All (AND Displays, Interfan, AND Optoelectronics, Interswitch, or Interoptics) products are covered by a one-year  <a href="/about/warranty.cfm">warranty</a> against defects in materials or workmanship. 
            <p><strong> The White LED Backlight Advantage</strong> &ndash; While
              we offer both CCFL and white LED backlights for our LCD flat panel
              color TFT monitors, LED backlights have some unique advantages over
              CCFL backlights. White LED backlights are more rugged, are instant
              - on (5ms), operate in a wider temperature range, don&rsquo;t require
              high kick-off voltage (or the attendant inverter circuitry), and
              generally last longer and require less power. These factors make
              white LED backlights ideal for harsh environments and for portable
              applications.</p>
            <p><strong> Plug and Play Prototyping Kits</strong> &ndash; To aid
              in the prototyping process, we have assembled all of the components
              that you will need to light up your display the day that you get
              it. The kits generally include: the display, LCD controller circuitry,
              CCFL inverter, and cabling. Also included is full documentation,
              including component specifications, system diagram and cable maps.</p>
            <p> Please also see how we might be able to help you with a <a href="/products/displays/vas.cfm">custom
              solution</a> [VAS] to your LCD.</p>
            <p> Not looking for a Color TFT Monitor? Go <a href="/products/displays/default.cfm">back</a>
              to see other LCD options.</p>

        </div>
</div>