<style>
  #header_container { width:764px; height:250px; background:url(<%= asset_path "headers/2ndhead_Displays.jpg" %>) no-repeat left bottom;}
</style>

<div id="main_content">
            <%= render :partial => 'display_links' %>
        <div class="content">
  <%= image_tag "PageTitles/anddis_pugnplay.gif" %>
  
<img src="/images/um.gif" width="1" height="8"><br>
            To aid in the prototyping process, Purdy Electronics has assembled all of the components that you will need to light up your display the day that you get it. The kits generally include: the display, LCD controller circuitry, power supply, CCFL DC-AC inverter, and cabling. Also included is full documentation, including component specifications, system diagram and cable maps.</p>
            <p><strong>If you would like a sample (one per customer):</strong></p>


        </div>
</div>