<style>
  #header_container { width:764px; height:250px; background:url(<%= asset_path "headers/2ndhead_Interfan.jpg" %>) no-repeat left bottom;}
</style>

<div id="main_content">
            <%= render :partial => 'opto_links' %>
        <div class="content">
            <div>
              <h1 style="margin:0px; color:191970; font-size:24px; font-family : Arial, Helvetica, sans-serif; font-weight : normal;">Red and Green Segment LED Displays</h1>
            </div>

             <a href="#Table">Below</a>, 
            we offer an assortment of 7 and 16 segment LED displays. These displays 
            come standard in <a href="#Red">red</a>, and <a href="#Green">green</a>; other colors available 
            on a special order basis. These displays are available in a variety 
            of sizes, luminous intensities, and with the option of either cathode 
            or anode polarity. 
            <p> Check out our offering of <a href="#Red">red</a>, and <a href="#Green">green</a> 
              light emitting diode seven segment and sixteen segment displays 
              in the table below. If you have an application-specific need, please 
              visit our <a href="/products/vas_leds">value added services</a> 
              page.
              All (AND Displays, Interfan, AND Optoelectronics, Interswitch, or Interoptics) products are covered by a one-year  <a href="/about/warranty.cfm">warranty</a> against defects in materials or workmanship. 
            </p>



    </div>

        <div id="catalog"> 

      
    <p><a href="/pdf/LED-SFC.pdf" target="_blank"><strong><font size="2">LED Short Form Catalog</a> - Download Complete Short Form Catalog</font></strong></p>
        <table class="catalogTable" width="100%" border="0" cellpadding="1" cellspacing="1">
<tr> 
                        <td class="TableTextHeader"><a name="pgfId-55278"></a><a name="Red"></a>Part 
                          Number<br>
                          Click for PDF</td>
                        <td align="center" class="TableTextHeader"><a name="pgfId-55280"></a>LED 
                          Color</td>
                        <td align="center" class="TableTextHeader">Face 
                          Color</td>
                        <td align="center" class="TableTextHeader">Display 
                          Height inch)</td>
                        <td align="center" class="TableTextHeader">Characteristics</td>
                        <td align="center" class="TableTextHeader">Luminous Intensity<br>I v (mcd), typ.</td>
                        <td align="center" class="TableTextHeader">(I F -mA)</td>
                        <td align="center" class="TableTextHeader">Polarity</td>
                        <td align="center" class="TableTextHeader">Material</td>
                        <td align="center" class="TableTextHeader">Sample Price</td>
                        <td align="center" class="TableTextHeader">Stock Check</td>
                        <td width="10%" class="TableTextHeader"><div align="center">Order<br>Sample</div></td>
                      </tr>
           <% ProductLedsSegment.to_display.each do |product| %>
             <tr align="left" bgcolor="#ffffff"> 
              <td nowrap class="TableTextBold"><a href="/pdf/AND2307.pdf" target="_blank">AND2307SAL</a>  </td>
            <td align="center" class="TableText">Red</td>
            <td align="center" class="TableText">Red</td>
            <td align="center" class="TableText">2.3</td>
            <td align="center" class="TableText">RHDP, 10 pin</td>
            <td align="center" class="TableText">7.5</td>
            <td align="center" class="TableText">10</td>
            <td align="center" class="TableText">C-A</td>
            <td align="center" class="TableText">GaAsP</td>
  
      <td class="TableText" align="right"><div align="center">$0</div></td>
      <td align="center" class="TableText"><a href="http://dilp.netcomponents.com/cgi-bin/purdyelectronics.asp?partnumber1=AND2307SAL&&pq=Search" target="_blank">Inventory</a></td>
      <td class="TableText"><div align="center"><a href="https://ssl32.chi.us.securedata.net/purdyelectronics.com/orderdetails.cfm?prod_sel=1&&prod_type=greensegment"><img src="/images/buts/order.gif" width="34" height="14" border="0"></a></div></td>
      
          </tr>
        <% end %>
                 
      </table>

    </div>
</div>