<style>
  #header_container { width:764px; height:250px; background:url(<%= asset_path "headers/2ndhead_Switch.jpg" %>) no-repeat left bottom;}
</style>

<div id="main_content">
            <%= render :partial => 'interswitch_links' %>
            <div class="content">
            <%= image_tag "PageTitles/switch_vas.gif" %></br>
            In addition to offering a full line of <a href="/products/switch_thumb">thumbwheel 
            switches</a>, <a href="/products/switch_rotary">rotary DIP switches</a>, <a href="/products/switches/led.cfm">codicount 
            displays</a>, and <a href="/products/switch_keypads">environmental resistant keypads</a>, 
            we specialize in working with you to craft a custom solution to meet 
            your application-specific requirements. We have provided solutions 
            for medical instruments, factory automation, and scientific, test 
            and measurement instruments. 
            <p><strong> Value Added Services for Switches </strong> -- Examples 
              of some of the custom solutions that we have produced the following:</p>
            <ul>
              <li> Thumbwheel switch from 1 to 35 positions </li>
              <li> Thumbwheel switch with customer specified alphanumeric characters 
              </li>
              <li> Thumbwheel switch with customer specified symbols </li>
              <li> IP67 Keypad with customer specified characters (1x4, 3x4 &amp; 
                4x4) </li>
              <li> Choice of colors </li>
              <li> Repair and replacement parts </li>
            </ul>
            <p> Please <a href="mailto:customerservice@purdyelectronics.com">contact 
              us</a> to see how we can help you meet your specific design needs.</p>
            <p> If you haven&rsquo;t done so, please see our information on our 
              <a href="/products/switch_default">standard Interswitch product</a>.</p>
            <p> If you have design needs not found within these pages, please 
              <a href="/contact">call</a> us or <a href="mailto:customerservice@purdyelectronics.com">email</a> 
              your requirements to us. </p>

    </div>
</div>