<style>
  #header_container { width:764px; height:250px; background:url(<%= asset_path "headers/2ndhead_Switch.jpg" %>) no-repeat left bottom;}
</style>

<div id="main_content">
            <%= render :partial => 'interswitch_links' %>
            <div class="content">

            <%= image_tag "PageTitles/switch_rotary.gif" %>

            	<br/>
                         <strong> Interswitch</strong> offers a broad assortment of rotary DIP (Dual In-line Package) switches with both 10 and 16 position versions available. These switches are designed for solder mounting on PCBs and act like a jumper converting decimal inputs to binary outputs. These switches may be interchanged with EECO and others.
            <p> To insure an absolute seal against fluxes, flux gasses and cleaners, Interswitch rotary DIP switches feature molded-in contacts, switch body that is ultrasonically welded to the base, and an &ldquo;O&rdquo; ring around the rotor shaft. Other features include kinked terminals to firmly hold the switch to PCB during soldering, positive and firm detent action for reliable settings, optional red or green screen indicator or knob color, and right angle mounting.
              All (AND Displays, Interfan, AND Optoelectronics, Interswitch, or Interoptics) products are covered by a one-year  <a href="/warranty">warranty</a> against defects in materials or workmanship. 
            </p>
            <p> Check out our offering of rotary DIP code in the table below.</p>
<p><strong>If you would like to download a data sheet:</strong></p>
<ul>
  <li>Click on the <strong>part number</strong> to access a PDF file.</li>
  </ul>

            <p><strong> If you would like a sample of a thumbwheel switch (one per customer):</strong></p>
            <ul>
              <li> Fill in the part numbers (one per customer, please); </li>
              <li> Click on the <strong>&ldquo;Order Sample&rdquo;</strong> button. </li>
            </ul>
            <p> If you have design needs not found within these products, please call us or <a href="mailto:customerservice@purdyelectronics.com">email</a> your requirements to us. </p>
		<p><a href="/pdf/Switch-SFC.pdf" target="_blank"><strong><font size="2">Switch Short Form Catalog</a> - Download Complete Short Form Catalog</font></strong></p>

    </div>
</div>