<style>
  #header_container { width:764px; height:250px; background:url(<%= asset_path "headers/2ndhead_Switch.jpg" %>) no-repeat left bottom;}
</style>

<div id="main_content">
            <%= render :partial => 'interswitch_links' %>
            <div class="content">
            <%= image_tag "PageTitles/switch_ip67.gif" %></br>
<strong>Interswitch</strong> keypad&rsquo;s robust and rugged monoblock design makes them absolutely dustproof and waterproof (protection class IP67). They are available with embedded (flush) keys or raised keys and come in the following configurations: 1x4 keys; 3x4 keys; and, 4x4 keys. These keypads are ideally suited for applications such as outdoor communication systems, naval, and geophysical systems, or wherever extreme rugged environmental conditions are encountered. All Interswitch products are covered by a one-year <strong><a href="/warranty">warranty</a></strong> against defects in materials and workmanship. 
              <p><strong>The Monoblock Advantage</strong> - The patented Interswitch monoblock design separates the keys from the sealed contacts to insure reliable operation in the most extreme environments. In the off-position, the magnetized plastic key plunger and contact support are held together by magnetic force, holding the circuit open. As the key switch is depressed, the magnetized plastic key plunger and contact support are separated, closing the circuit (on-position). When the key switch is released, the magnetized plastic key plunger and the contact support are once again attracted together by the magnetic force; this returns the key plunger to its initial off-position (opening the circuit). This magnetic retract mechanism gives excellent tactile feedback-and ensures the long service life of the keypad (rated at up to 5,000,000 operations).</p>
            <p>All keypads come standard with key tops (part number KKE4L-ACCC), and a variety of other key markings are also available.</p>
            <p>Check out our offering of keypads in the table below.</p>
            <p><strong>If you would like to view or download a data sheet:</strong></p>
            <ul>
              <li>Click on the <strong>part number</strong> to access the PDF file.</li>
            </ul>            <p><strong>If you would like a sample of a keypad:</strong></p>
            <ul>
              <li>Click on the <strong>order </strong>button.</li>
            </ul>            <p>If you have design needs not found within these products, please call us or <a href="mailto:customerservice@purdyelectronics.com">email</a> your requirements to us.<br>
            </p>
		<p><a href="/pdf/Switch-SFC.pdf" target="_blank"><strong><font size="2">Switch Short Form Catalog</a> - Download Complete Short Form Catalog</font></strong></p>
            <p><strong>Keypads</strong></p>

                </div>

          <div id="catalog">

              <%  ProductSwitchesKeypads.to_display.each do |product| %>


              <% end %>


          </div>
</div>