<style>
  #header_container { width:764px; height:250px; background:url(<%= asset_path "headers/2ndhead_Interfan.jpg" %>) no-repeat left bottom;}
</style>

<div id="main_content">
            <%= render :partial => 'opto_links' %>
        <div class="content">
            <div>
              <h1 style="margin:0px; color:191970; font-size:24px; font-family : Arial, Helvetica, sans-serif; font-weight : normal;">Value Added LED Services</h1>
            </div>

              In addition to providing a full line of standard <a href="/products/and_opto">light 
            emitting diode</a> (LED) lamps (through hole and <font color="#FF0000">surface 
            mount devices</font>) and <a href="/products/segment_leds">displays</a> 
            (seven and sixteen segment), we specialize in working with you to 
            craft a custom LED solution to meet your application-specific requirements. 
            We have provided solutions, for billboard signage, highway signage, 
            medical instruments, gambling signage, and indicator lamps on scientific, 
            test and measurement instruments. 
            <p><strong> Value Added Services for LEDs </strong> -- Examples of 
              some custom solutions that we have produced include the following:</p>
            <ul>
              <li> Custom LEDs </li>
              <li> Binning to tighten specifications </li>
              <li> Tape and reel packaging </li>
              <li> Special Packaging and lead frames </li>
              <li> Multicolor surface mount LEDs (e.g., red, green, and blue)</li>
            </ul>
            <p> Please <a href="mailto:customerservice@purdyelectronics.com">contact 
              us</a> to see how we can help you meet your specific design needs. 
            </p>
            <p> Have a look at our <a href="/products/and_opto">AND Optoelectronics 
              product</a> pages for information.</p>



    </div>
</div>