<div id="footer">
  <div class="copyright">
    <p>Copyright 2011 Purdy Electronics Corporation | 755 North Pastoria Avenue, Sunnyvale, CA 94085-2918 | PH: 408.523.8200 FAX: 408.733.1287</p>
  </div>
  <div class="links">
    <a href="/">Home</a> | <a href="/products/default.cfm">Products</a> | <a href="/vas/default.cfm">Value Added Services</a> | <a href="/wnew/default.cfm">What's New</a> | <a href="/about/default.cfm">About Us</a> | <a href="/about/contact.cfm">Contact Us</a> | <a href="/about/privacy.cfm">Privacy</a> | <a href="/about/warranty.cfm">Warranty</a> | <a href="/about/sitemap.cfm">Sitemap</a>
  </div>
</div>