<div id="footer">
  <div class="copyright">
    <p>Copyright 2014 Purdy Electronics Corporation | 755 North Pastoria Avenue, Sunnyvale, CA 94085-2918 | PH: 650-248-7113 FAX: 408.733.1287</p>
  </div>
  <div class="links">
    <a href="/">Home</a> | <a href="/products/index">Products</a> | <a href="/vas/index">Value Added Services</a> | <a href="/wnew/index">What's New</a> | <a href="/about_us">About Us</a> | <a href="/contact_us">Contact Us</a> | <a href="/privacy">Privacy</a> | <a href="/warranty">Warranty</a> | <a href="/sitemap">Sitemap</a>
  </div>
</div>