<div class="left_links">
  <ul>
    <li><a href="/products/displays">AND Displays</a></li>
    <li><a href="/products/interfan">INTERFAN</a></li>
    <li><a href="/products/and_opto">AND Optoelectronics</a></li>
    <li><a href="/products/interswitch" >INTERSWITCH</a></li>
  </ul>
</div>